.profilePage {
  background-color: #111;
  height: 100vh;
  color: #fff;
}

.profilePage__body {
  /* display: flex;
  flex-direction: column; */
  width: 50%;
  margin: 0 auto;
  padding-top: 8%;
  max-width: 800px;
}
.profilePage__body > h1 {
  font-size: 60px;
  font-weight: 400;
  border-bottom: 1px solid #282c2d;
  margin-bottom: 20px;
}

.profile__info {
  display: flex;
}

.profile__info > img {
  height: 100px;
}

.profile__details {
  color: #fff;
  margin-left: 25px;
  flex: 1;
}
.profile__details > h2 {
  background-color: gray;
  padding: 15px;
  font-size: 15px;
  padding-left: 20px;
}
.profile__signout {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  width: 100%;
  background-color: #e50914;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5%;
}

.userPlans {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  opacity: 0.8;
}
.userPlans:hover {
  opacity: 1;
}
.userPlans > button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #e50914;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
